$primary-color: #000000;
$accent-color: #ff652f;
$text-color: #fff;
$back-ground: black;
$font-weight: (
    "normal": 400,
    "medium": 500,
    "bold": 700
);
$font-type: 'Montserrat';
$padding-right: 6%;
$padding-left: 6%;
$margin-left: 6%;
$padding-top: 2%;
$margin-top: 1%;
$borders: 6px;
$desktop: 840px;
$total-width: 50%;