@import './variables';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav{
  display: flex;
  justify-content: flex-end;
  padding-right: $padding-right;
  padding-top: $padding-top;
  text-decoration: none;
  a:hover {
    color: $accent-color;
  }
}

.Tilt {
  margin-left: $margin-left;
  padding-top: 0.5%;
  margin-top: $margin-top;
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
 }

.logo {
 width: 90%;
}

input {
  width: 80%;
  padding: 18px 22px;
  border: none;
  border-radius: 5px;
  background-color: $text-color;  
}

div{
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
  width: $total-width;
  background-color: white;

  .buttonid {
  color: $primary-color !important;
  background: #f5d020;
  padding: 20px;
  margin-left: 2%;
  border: 4px solid #f5d020 !important;
  border-radius: $borders;
  display: inline-block;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  }

  .buttonid:hover {
    color: $primary-color !important;
    border-radius: 50px;
    border-color: #f5d020 !important;
    transition: all 0.3s ease 0s;
    }  
  }

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}


.resize {
  width: 500px;
  height: auto;
}
.imagedisplay {
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
